<div class="flex pure-g">
  <div class="center pure-u-1">
<h1 class="title"> Authors </h1>
  {{#each model as |auth|}}
    {{log auth}}
    <div class="center pure-u-1-4">
        <p class="name">{{auth.name}}</p>
        {{#link-to "authors.author" auth.id}}<img class="" src={{auth.picture}}>{{/link-to}}
    </div>
  {{/each}}
  <br>
  <br>
  <div>
      <form class="pure-form">
        {{input value=newAuthor placeholder="Enter Authors Name"}}
        <button class="pure-button"{{action 'createAuthor'}}>Add Author</button>
    </form>
  </div>
 </div>
</div>

{{outlet}}
