<!-- <div class="center"> -->
<div class="center pure-u-1">
    <p class="name-lg">{{model.author.name}}</p>
    <img  src={{model.author.picture}}>
    <div>
        <br>
        <form class="pure-form" {{action 'updateName' model.author.id on='submit'}}>
            {{input required=true value=newName placeholder="Update Authors Name"}}
            <button class="pure-button">Update Name</button>
        </form>
        <br>
        <form class="pure-form" {{action 'addBook' model.author.id on='submit'}}>
            {{input required=true value=newBook placeholder="Book Title"}}
            <button class="pure-button">Add Book</button>
        </form>
    </div>
    <p class="name-lg margins">
        <i><u>Books</u></i>
    </p>
    {{#each model.books.books as |book|}}
        <div class="center pure-u-1-4">
            {{book-object book=book}}
        </div>
    {{/each}}
</div>
{{outlet}}
